

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h3>Programar clase</h3>
            </div>
            <div class="card-body">
                <p>Bienvenido(a) profesor(a) "Nombre Completo"</p>
                <form>
                    <div class="form-group">
                        <label for="className">Nombre de la clase</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Ingrese nombre de la clase">
                    </div>
                    <div class="form-group">
                        <label for="className">Tema</label>
                        <input type="text" class="form-control" id="theme" name="theme" placeholder="Ingrese el tema de la clase">
                    </div>
                    <div class="form-group">
                        <label for="classDescription">Descripción</label>
                        <textarea class="form-control" id="classDescription" rows="3" placeholder="Ingrese descripción de la clase"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="startTime">Hora de inicio⏳</label>
                        <input type="time" class="form-control" id="startTime">
                    </div>
                    <div class="form-group">
                        <label for="endTime">Hora de termino⌛</label>
                        <input type="time" class="form-control" id="endTime">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Programar clase</button>
                </form>
            </div>
        </div>
    </div>
</div>